*{
	margin: 0 auto;
	box-sizing: border-box;
	font-family: Helvatica;
}
body{
	background: url('../img/aldiansyah.jpg');
	background-size: 100%;
}
h1{
	color: white;
}
.container{
	width: 80%;
}
form h2{
	padding: 10px 0;

}
form{
	position: relative;
	top: 100px;
	padding: 10px;
	background: white;
	border-radius: 4px;
	box-shadow: 0px 0px 5px #0055ff;
	width: 400px;
	max-width: 400px;
}
form input{
	padding: 10px;
	border: 1px solid #0099ff;
	border-radius: 4px;
	display: black;
	margin-bottom: 5px;
	width: 100%;
}
form button {
	background: #0099ff;
	color: white;
	border-radius: 1px solid #0099ff;
	padding: 10px 20px;
	border-radius: 2px;
}
.logout {
	background: #0099ff;
	color: white;
	border-radius: 1px solid #0099ff;
	padding: 10px 20px;
	border-radius: 2px;
	text-decoration: none;

}